/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Header Styles */
header {
    background-color: #002855; /* Deep blue */
    color: white;
    text-align: center;
    padding: 20px 0;
    border-bottom: 5px solid #FF4B55; /* Bright red border */
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

/* Navbar Styling */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center the navbar items */
}

nav ul li {
    margin: 0 20px; /* Space out the items */
}

nav ul li a {
    text-decoration: none; /* Remove underlines */
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

/* Hover effect for links */
nav ul li a:hover {
    background-color: #D64933; /* Light red/orange on hover */
    border-radius: 5px;
}

/* Styling for the "Home" link (active page styling) */
nav ul li a.active {
    background-color: #005BBB; /* Blue background for the active link */
    border-radius: 5px;
}

/* Main Container */
.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

/* Form and Results Containers */
.form-container, .result-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%;
    max-width: 500px;
}

.classification-result-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%;
    max-width: 500px;
    margin: 0 auto;
    display: none;
    justify-content: center;
    align-items: center;
}

.prediction-table-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    display: none;
}

.classification-table {
    display: block;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.form-container {
    border-top: 5px solid #FF4B55; /* Red */
}

.result-container {
    border-top: 5px solid #005BBB; /* Blue */
}

/* Form Styles */
form label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: #FF4B55; /* Bright red */
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #D93844; /* Slightly darker red */
}

/* Results Section */
#result, #results-summary, #winner {
    margin-top: 20px;
}

#results-summary {
    font-size: 1.2rem;
    text-align: left;
}

#winner h1,
#winner h2 {
    margin: 0;
    font-size: 24px; /* Set both h1 and h2 to the same font size */
}

#winner h1 {
    color: #005BBB; /* Blue for Democratic winner */
}

#winner h2 {
    color: #FF4B55; /* Red for Republican winner */
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
}

/* Map Styles */
.cmm-usa {
    display: none;
    margin: 0 auto;
    position: relative;
    padding: 10px;
}

.cmm-usa svg {
    width: 100%;
    z-index: 99;
}

.cmm-usa svg path {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.cmm-usa-hover-state-info {
    position: relative;
    margin: -40px auto 20px auto;
    display: none;
    box-sizing: border-box;
    padding: .75em;
    width: 300px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 20px #999;
    font-size: 14px;
    z-index: 100;
}

.cmm-usa-hover-state-info span {
    display: block;
    line-height: 1.5em;
}

.cmm-usa-hover-state-info span:first-child {
    font-weight: bold;
    text-align: center;
}

.cmm-usa-listview {
    width: 100%;
    text-align: center;
    margin: 1em 0;
}

.cmm-usa-listview ul {
    vertical-align: top;
    list-style: none;
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 0;
}

.cmm-usa-listview ul li {
    padding: 0;
    margin: 0;
}

.cmm-usa-listview ul li span {
    display: inline-block;
    position: relative;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    color: black;
    text-align: center;
    line-height: 12px;
    font-weight: bold;
    border: 1px solid #999;
    opacity: 1.0;
    margin-right: .5em;
}

.cmm-usa-listview ul li span::after {
    content: "\2B9E";
    position: relative;
    color: #333;
    font-size: 12px;
}

.cmm-usa-listview ul li a {
    display: inline-block;
    margin: .5em 1em .5em 0;
    color: #ccc;
    text-decoration: none;
}

.cmm-usa-listview ul li a.cmm-usa-live-link {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

.cmm-usa-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.cmm-usa-credit-link {
    text-align: center;
}

/* Prediction Table Styles */
.prediction-table-container {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
}

.prediction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.prediction-table th, .prediction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.prediction-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.prediction-table td {
    font-size: 14px;
    max-width: 150px; /* Adjust the width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* About Page Styling */
.about-container {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.about-container p {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

/* Styling for the Table Header Label */
.table-header {
    text-align: center;
    margin-bottom: 20px; /* Space below the label */
}

.about-me-header p {
    margin-bottom: 20px; /* Space below the label */
}

.table-header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #003366; /* Dark blue color for the label */
    margin: 0;
    padding: 10px;
    background-color: #e0f7fa; /* Light blue background for the label */
    border-radius: 8px;
}
.about-table-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.about-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.about-me-text {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.about-me-text td {
    border: 1px solid #ddd;
    padding: 8px;
}

.about-me-text th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.about-table th, .about-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.about-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.about-table td {
    font-size: 14px;
    max-width: 150px; /* Adjust the width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}